*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.list-group-item{
    transition: .7s;
    border-bottom: 1px solid white !important;
}


.list-group-item:hover{
    padding-left: 30px;
    color:rgb(175, 172, 172) !important;
    cursor: pointer;
}
.list-group-item:hover a{
    color:rgb(175, 172, 172) !important; 
}
 /* ////////////////// */

 .cart{

    border: 1px solid rgb(177, 173, 173);

 }